<mat-card class="container">

    <mat-card-header>
        <mat-card-title>
            Feed
        </mat-card-title>
        
        <mat-form-field appearance="outline">
            <mat-label>Visibilité</mat-label>
            <mat-select>
                <mat-option value="friends">Amis</mat-option>
                <mat-option value="all">Tous</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-header>

    <mat-card-content style="margin-top: 10px;">
        <div *ngFor="let post of posts">
            <div>
                <mat-divider></mat-divider>
                <div class="info-pub">
                    <div class="flex-between">
                        <div class="flex-around gap-10">
                            <mat-icon>sentiment_very_satisfied</mat-icon> {{post.user.username}}
                        </div>
                        <div class="flex-around">
                            <div class="info">
                                <p>Jeu: <span>{{post.gameId}}</span></p>
                            </div>
                            <div class="info">
                                <p>Nb Joueurs: <span>{{post.nbPlayers}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            {{post.content}}
                        </p>
                    </div>
                    <div class="flex-around">
                        <div class="gap-10" (click)="sendLike(post)">
                            <mat-icon *ngIf="!isLike(post)">thumb_up</mat-icon><mat-icon class="react" *ngIf="isLike(post)">thumb_up</mat-icon> {{post.likes.length}}
                        </div>
                        <div class="gap-10" (click)="sendShare(post)">
                            <mat-icon *ngIf="!isShare(post)">reply</mat-icon><mat-icon class="react" *ngIf="isShare(post)">reply</mat-icon> {{post.shares.length}}
                        </div>
                        <div class="gap-10" (click)="openDialog(post)">
                            <mat-icon class="react" *ngIf="isUserPost(post)">info</mat-icon>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>

        </div>
    </mat-card-content>
</mat-card>