mat-card {
    border-radius: 15px !important;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.formfield-textarea {
    width: 100%;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}