<h1 mat-dialog-title>Ajout d'un pseudo</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%;"  *ngIf="preferencesGame === null">
        <mat-label>Jeu</mat-label>
        <input matInput placeholder="League Of Legends" type="text" [matAutocomplete]="auto" formControlName="gameId">
        <mat-error *ngIf="form.invalid">{{getErrorGame()}}</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option value="League Of Legends">League Of Legends</mat-option>
            <mat-option value="Rocket League">Rocket League</mat-option>
            <mat-option value="Valorant">Valorant</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;"  *ngIf="preferencesGame !== null">
        <mat-label>Jeu</mat-label>
        <input matInput type="text" formControlName="gameId" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;" >
        <mat-label>Pseudo</mat-label>
        <input matInput placeholder="Ton pseudo" type="text" formControlName="username">
        <mat-error *ngIf="form.get('username').invalid">Le champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;" >
        <mat-label>Ton niveau de jeu</mat-label>
        <input matInput placeholder="Bronze 1" type="text" formControlName="level">
        <mat-error *ngIf="form.get('level').invalid">Le champ est requis</mat-error>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="" color="primary">fermer</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addPreference()" *ngIf="preferencesGame === null">Ajouter</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addPreference()" *ngIf="preferencesGame !== null">Modifier</button>
</div>