<mat-toolbar *ngIf="authService.user">
    <button mat-icon-button class="button-menu" (click)="navOutput.emit()">
        <mat-icon>menu</mat-icon>
        <div class="new" *ngIf="newNotif"></div>
    </button>
    <span class="example-spacer"></span>
    <span class="title" [routerLink]="['/home']">RechercheTonCoéquipier.com</span>
    <span class="title-alt" [routerLink]="['/home']">RTC.com</span>
    <span class="example-spacer"></span>
    <div [matMenuTriggerFor]="menu" class="button-profil">
        <mat-icon class="icons">sentiment_very_satisfied</mat-icon>
        <p>{{authService.user.username}}</p>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profil']">
                <mat-icon class="icons">person</mat-icon>
                <span>Profil</span>
            </button>
            <button mat-menu-item (click)="signOut()">
                <mat-icon class="icons">keyboard_backspace</mat-icon>
                <span>Se déconnecter</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>


