.example-spacer {
    flex: 1 1 auto;
}

.button-profil {
    background-color: var(--primary-color);
    width: 150px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mat-toolbar {
    padding-right: 0;
}

p {
    margin: 16px;
}

.title {
    font-family: font-title;
    font-size: 15px;
}

.title-alt {
    display: none;
    font-family: font-title;
}
@media (max-width: 435px) { 
    .title {
        display: none;
    }

    .title-alt {
        display: block;
    }

    .button-profil {
        width: 100px;
    }
}

@media (max-width: 599px) { 
    .icons {
        display: none;
    }
    .button-profil {
        height: 56px;
        font-size: 15px;
    }
}
@media (min-width: 765px) { 
    .title {
        font-size: 30px;
    }
}

@media(min-width: 1024px) {
    .button-menu {
        display: none;
    }
}