<h1 mat-dialog-title>Likes de la publication</h1>
<div mat-dialog-content>
    <div *ngFor="let like of likes">
        <mat-divider></mat-divider>
        <div class="infos">
            <p>{{like.username}}</p>
            <div class="fab">
                <button mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>not_interested</mat-icon>
                </button>
                
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="" color="primary" cdkFocusInitial>fermer</button>
</div>